.links {
    width: 100%;
    text-align: center;
    margin-top: 2rem;

    .nav {
        width: 100%;
        margin: 0 auto;

        &__list {
            @include flexbox(row, wrap);
            justify-content: space-around;
            align-items: center;
            margin: 1rem;

            li {
                margin: 1rem;
            }
        }
    }
}
