.projects {
  margin: 2rem 0;
  text-align: center;

  &__wrap {
    @include flexbox(column);
    justify-content: space-around;
    align-items: center;
  }

  .project {
    @include flexbox(column);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    margin: 1rem 0;
    padding: 2rem;
    background: $primary-colour;

    &:hover {
      .project__img__svg {
        opacity: 1;
      }
    }

    &__img {
      @include flexbox();
      justify-content: center;
      align-content: center;
      position: relative;
      z-index: 0;
      width: 100%;
      padding-bottom: 15rem;
      background: {
        size: 100%;
        repeat: no-repeat;
        position: center;
      }
      
      img {
        width: 100%;
        height: 100%;
      }


      &__svg {
        position: absolute;
        top: 40%;
        width: 100%;
        max-width: 3rem;
        z-index: 2;
        opacity: 0;
        transition: .3s all;
        
        svg {
          width: 100%;
          height: 100%;

          &:first-child {
            position: absolute;
          }

          &:last-child {
            opacity: 0;
            z-index: 1;
          }
        }

      }

    }

    &__content {
      @include flexbox(column);
      justify-content: space-around;
      align-items: center;
      height: 15rem;
      text-align: center;

      h2 {
        text-transform: uppercase;
      }

      a {
        position: relative;
        width: 25%;
        padding: 0.5rem 0;
        overflow: hidden;
        margin: 0;
        pointer-events: all;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          border-bottom: 0.0625rem solid $tertiary-colour;
        }

      }

    }

  }

}

.lightOn {
  animation: lightOn 0.3s ease-in both;
}

.lightOff {
  animation: lightOff 0.2s ease-out both;
}

@media (min-width: 48em) {
  .projects {

    &__wrap {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      grid-column-gap: 2rem;
      justify-items: center;
    }

  }

}