$primary-colour: #F4F9F9;
$secondary-colour: #DCF5F5;
$tertiary-colour: #99ADAD;

$alt-primary-colour: #A89387;
$alt-secondary-colour: #FAF7F5;

.primary-colour {
  color: $primary-colour
}

.secondary-colour {
  color: $secondary-colour
}

.tertiary-colour {
  color: $tertiary-colour
}

.alt-primary-colour {
  color: $alt-primary-colour
}

.alt-primary-colour {
  color: $alt-primary-colour
}