*, *::before, *::after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #444444; }
  a:hover, a:focus {
    text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer;
  padding: 0; }

.wrappper {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 50rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

ol, ul, li {
  list-style: none; }

html, body, .content {
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: .1rem; }

p, a {
  font-weight: 400;
  letter-spacing: .2rem; }

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem; }

h2, h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

p, a {
  font-size: 1.2rem;
  margin-bottom: .5rem; }

.main {
  display: flex;
  flex-direction: column; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
  .footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center; }
    .footer__nav__list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      text-align: center; }
      .footer__nav__list__link a {
        color: #000;
        text-decoration: none; }
        .footer__nav__list__link a:hover {
          color: aqua; }

.profile {
  display: flex;
  flex-direction: column; }
  .profile__img {
    display: inherit;
    justify-content: center;
    align-items: center;
    max-width: 18rem;
    padding: 1rem 0; }
  .profile__content {
    display: inherit;
    flex-direction: column; }
