.card {
    content: "";
    position: absolute;
    top: 0;
    left: -7rem;
    height: 7rem;
    width: 5rem;
    background-image: url("../images/cards/back.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    &:hover {
        transform: scale(1.2);
    }

    &--deal {
        transition-timing-function: cubic-bezier(0.4, 0.2, 0.4, 0);
    }
}
