.card {
  content: '';
  position: absolute;
  top: 0;
  height: 7rem;
  width: 5rem;
  background-image: url('../images/cards/back.png');
  background-repeat: no-repeat;
  background-position: center;
}