.profile {
  @include flexbox(column);
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;

  h1 {
    display: block;
    font-size: 3rem;
  }

  &__content {
    text-align: center;
    z-index: 1;
  }

  
}