@import "utils/mixins";

.header {
    @include flexbox(row);
    justify-content: center;

    &__nav {
        @include flexbox(column);
        justify-content: center;
        align-content: center;
        writing-mode: vertical-rl;

        &__list {
            @include flexbox(row);
            justify-content: space-evenly;
            max-width: 1rem;
            width: 100%;
            text-align: center;

            &__link {

                
                a {
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        color: aqua;
                    }
                }
                
                
            }
        }
    }
}