<footer class="footer wrapper">

  <nav class="footer__nav">

    <ul class="footer__nav__list">

      <li class="footer__nav__list__link">
          <a href="https://github.com/robatronPrime/" target="_blank">github</a>
      </li>

      <li class="footer__nav__list__link">
          <a href="https://twitter.com/robstow94_stow" target="_blank">twitter</a>
      </li>

      <li class="footer__nav__list__link">
          <a href="https://www.instagram.com/r.stow/" target="_blank">instagram</a>
      </li>

      <li class="footer__nav__list__link">
          <a href="https://www.linkedin.com/in/robert-stow-b664b013b/" target="_blank">linkedin</a>
      </li>

    </ul>

  </nav>

</footer>
