<!-- META -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="google-signin-client_id" content="38415077060-bd9df6no8hqv5bv4llv58u5569k8rc31.apps.googleusercontent.com">

<!-- LINKS -->
<link rel="stylesheet" href="stylesheets/main.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<!-- TITLE -->
<title>rob-stow.dev</title>

<!-- SCRIPTS -->
<script type="text/javascript" src="js/main.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>