<section class="details wrapper">
    <ul class="nav">

        <li class="nav__item">
    
          <a href="">
            <p class="profile__content__text">For more details on my <span class="blue">work experiance</span> click here</p>
            <!-- insert arrow svg -->
          </a>
    
        </li>
    
        <li class="nav__item">
    
            <a href="">
              <p class="profile__content__text">For more details on my <span class="blue">Projects</span> click here</p>
              <!-- insert arrow svg -->
            </a>
    
        </li>
    
      </ul>
</section>