<section class="links wrapper">

  <nav class="nav">

    <ul class="nav__list">

      <li>
        <a href="https://github.com/robatronPrime/" target="_blank" alt="Github Link - the Github logo" class="animated">
          <span class="animatedSpan"></span>
          <div class="animated__svg-wrapper">
            <svg viewBox="0 0 438.549 438.549">
              <use xlink:href="images/svgSprites/icons.svg#github-logo"/>
            </svg>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/robstow94_stow" target="_blank" class="animated">
          <span class="animatedSpan"></span>
          <div class="animated__svg-wrapper">
            <svg viewBox="0 0 612 612">
              <use xlink:href="images/svgSprites/icons.svg#twitter-logo-silhouette"/>
            </svg>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/r.stow/" target="_blank" class="animated">
          <span class="animatedSpan"></span>
          <div class="animated__svg-wrapper">
            <svg viewBox="0 0 438.549 438.549">
              <use xlink:href="images/svgSprites/icons.svg#instagram"/>
            </svg>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/robert-stow-b664b013b/" target="_blank" class="animated">
          <span class="animatedSpan"></span>
          <div class="animated__svg-wrapper">
            <svg viewBox="0 0 438.549 438.549">
              <use xlink:href="images/svgSprites/icons.svg#linkedin"/>
            </svg>
          </div>
        </a>
      </li>

    </ul>
  
  </nav>

</section>