<section class="links wrapper">

    <nav class="nav">

        <ul class="nav__list">
    
          <li>
              <a href="https://github.com/robatronPrime/" target="_blank" alt="Github Link - the Github logo"><i class="fab fa-github"></i></a>
          </li>
    
          <li>
              <a href="https://twitter.com/robstow94_stow" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
    
          <li>
              <a href="https://www.instagram.com/r.stow/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
    
          <li>
              <a href="https://www.linkedin.com/in/robert-stow-b664b013b/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
    
        </ul>
    
      </nav>

</section>