<section class="projects">
  <div class="wrapper">
    <h1>My Projects!</h1>
  </div>

  <div class="grid projects__wrap">
    <div class="project">

      <div class="project__img" style="background-image:url(/images/imagineMemory.png);">

        <div class="project__img__svg">

          <svg viewBox="0 0 56.966 56.966">
            <use xlink:href="images/svgSprites/icons.svg#lightbulb"/>
          </svg>

          <svg viewBox="0 0 56.966 56.966" class="lightColour">
            <use xlink:href="images/svgSprites/icons.svg#lightbulbColour"/>
          </svg>

        </div>

      </div>

      <div class="project__content">
        <h2>Imagine Memory</h2>
        <p>Final year project. A memory game website. </p>
        <a href="https://robatronprime.github.io/ImagineMemory/static" target="_blank" class="animatedLight">Site</a>
      </div>

    </div>

    <div class="project">

      <div class="project__img" style="background-image:url(/images/webresProject3.jpg);">

        <div class="project__img__svg">

          <svg viewBox="0 0 56.966 56.966">
            <use xlink:href="images/svgSprites/icons.svg#lightbulb"/>
          </svg>

          <svg viewBox="0 0 56.966 56.966" class="lightColour">
            <use xlink:href="images/svgSprites/icons.svg#lightbulbColour"/>
          </svg>

        </div>

      </div>

      <div class="project__content">
        <h2>WERES Sprint 3</h2>
        <p>Water Level Visualization for Vessel Docking</p>
        <a href="https://robatronprime.github.io/WebResSprint3/" target="_blank" class="animatedLight">Site</a>
      </div>
      
    </div>

    <div class="project">

      <div class="project__img">

        <div class="project__img__svg">

          <svg viewBox="0 0 56.966 56.966">
            <use xlink:href="images/svgSprites/icons.svg#lightbulb"/>
          </svg>

          <svg viewBox="0 0 56.966 56.966" class="lightColour">
            <use xlink:href="images/svgSprites/icons.svg#lightbulbColour"/>
          </svg>

        </div>

      </div>

      <div class="project__content">
        <h2>WEBRES Sprint 2</h2>
        <p>A novel.js text based adventure game.</p>
        <a href="https://github.com/robatronPrime/WebResSprint2" target="_blank" class="animatedLight">Site</a>
      </div>
      
    </div>

  </div>

</section>