<section class="projects">

    <div class="wrapper grid projects__wrap">

      <div class="project">

        <div class="project__img">

          <div class="project__img__svg">

            <svg viewBox="0 0 56.966 56.966">
              <use xlink:href="images/svgSprites/icons.svg#zoom-in"/>
            </svg>

          </div>

          <img src="/images/imagineMemory.png" alt="">

        </div>

        <div class="project__content">
          <h2>Imagine Memory</h2>
          <p>Final year project. A memory game website. </p>
          <a href="https://robatronprime.github.io/ImagineMemory/static">Site</a>
        </div>

      </div>

      <div class="project">

          <div class="project__img">

            <div class="project__img__svg">

              <svg viewBox="0 0 56.966 56.966">
                <use xlink:href="images/svgSprites/icons.svg#zoom-in"/>
              </svg>

            </div>

            <img src="/images/imagineMemory.png" alt="">

          </div>
  
          <div class="project__content">
            <h2>Imagine Memory</h2>
            <p>Final year project. A memory game website. </p>
            <a href="https://robatronprime.github.io/ImagineMemory/static">Site</a>
          </div>
          
        </div>

        <div class="project">

            <div class="project__img">

              <div class="project__img__svg">

                <svg viewBox="0 0 56.966 56.966">
                  <use xlink:href="images/svgSprites/icons.svg#zoom-in"/>
                </svg>

              </div>

              <img src="/images/imagineMemory.png" alt="">

            </div>
    
            <div class="project__content">
              <h2>Imagine Memory</h2>
              <p>Final year project. A memory game website. </p>
              <a href="https://robatronprime.github.io/ImagineMemory/static">Site</a>
            </div>
            
          </div>

    </div>

</section>