<section class="profile wrapper">

    <div class="wrapper">
      <div class="profile__img">
        <img src="images/profile.jpg" alt="Profile image">
      </div>
    </div>

    <div class="profile__content">

      <h1 class="profile__content__title">Rob-stow.dev</h1>

      <h2 class="profile__content__subtitle">I am a front end web developer.</h2>

      <p class="profile__content__text">I have a deploma from Portsmouth University in Web Technologies.</p>
      
    </div>
    
  </section>